body 
{
  margin: 0px;
  padding: 0px;
  font-family: "Bai Jamjuree", sans-serif;
}
.container 
{
  display: flex;
}
header
{
    padding: 5px;
    background-image:url("images/bg-header-desktop.png");
    background-size: cover;  
    background-repeat:no-repeat;
    justify-content: center;
    font-size:x-large;
    font-weight: bold;
}
.navbar
{
  display: flex;
  justify-content: end;
  font-size:larger;
  letter-spacing:3px;
  margin-top: 10px;
}
div a{
  text-decoration: none;

}
nav
{
    flex-direction: column;
    align-items: center;
}
#contenu
{
  justify-content: space-evenly;
}
section {
  flex-direction: column;
  align-items: center;
}

section div {
             margin-top: 10px;
          }
p, ol {
  font-weight: bold;
}
.titre {
  font-weight: bold;
  background-color: hsl(210, 10%, 33%);
  color: white;
  padding: 5px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
}

#bouton1 {
  background-color: #26BAA4;
  ;
  color: white;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
#bouton2 {
  background-color:#6173FF;
  color: white;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
h3
{
  text-align: center;
  text-decoration: underline;
  color: hsl(210, 10%, 33%);
  margin-top: 10px;
}
aside{
  justify-content: space-evenly;
  margin-top:10px
}
img 
{
  max-width:100%;
  height: auto;
}
footer 
{
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: hsl(210, 10%, 33%);
  color: white;
  text-decoration: underline;
}

/*Formulaire contact*/
#content
{
  flex-direction: column;
  align-items: center;
}
aside, a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    margin-top: 20px;
}
aside > a::before{
     content: "\0020 \2302";
}

#contact {
  display: flex;
  margin-top: 20px;
  width: 350px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color:#9FABB2;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 63px;
  margin-top: 25px;
}

form div > label {
  margin-bottom: 5px;
  font-weight: 650;
}
form div > textarea {
  height: 195px;
  padding: 15px 0px 0px 10px;
}

form div:last-child {
  align-items: center;
  margin-top: 20px;
}
form > button {
  margin-bottom: 20px;
  width: 300px;
  max-width: 500px;
  font-weight: 700;
  font-size: 28px;
  border: rgba(48, 48, 48, 0.5) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #303030;
}
.control small{
  display: none;
  color:red;
}

.control.succes input{
  border-color: var(--color-succes);

}
.control.erreur input{
  border-color: var(--color-erreur);

}
.control.succes small{
  color: var(--color-succes);
  visibility: visible;
 
}
.control.erreur small{
 color: var(--color-erreur);
 visibility: visible;
}
:root
{
  --color-succes:green;
  --color-erreur:red;
}

@media screen and (max-width: 768px){
  main {
    flex-direction: column;
  }
  section > #bouttons{
    flex-direction: column;
  }
  header p{
    font-size: medium;
  }
  footer p{
    font-size: medium;
  }
}
@media screen and (max-width: 768px){
  main, #contact {
    justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */
